
<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <img src="https://quirkystepper.files.wordpress.com/2014/06/735_crazy_dance.jpg" class="img-fluid" alt="Responsive image">
      <div class="">
        <a href="http://localhost:3000/users/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
        <a href="http://localhost:3000/users/new" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Log In</a>
      </div>
  </body>
</html>
