<div class="container">
  <%= image_tag('logo') %>       <!-- Image goes here. Use CSS properties for "display: block; and margin: auto;" -->
  <!-- Bottom Padding for the image -->
<div class="form-main">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control btn-lg col-sm-2 col-form-label" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control btn-lg col-sm-2 col-form-label" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
    </form>
<div class="row no-gutters">
    <!-- <div class="col-md"><img src="logo.png" alt=""></div> -->
    </div>
  </div>
  <!-- Unordered List for 'Create Account' and 'Forgot Password'. Take off bullet points and make inline -->
  <ul class="list-inline">
    <li class="list-inline-item">Create Account</li>
    <li class="list-inline-item">|</li>
    <li class="list-inline-item">Forgot Password</li>
  </ul>
</div>

<div class="home_buttons">
      <%= link_to 'Log In', new_user_path, :class => 'login' %>
      <%= link_to 'Sign up', new_user_path, :class => 'signup'%>
</div>