img {
  width: 100%;
  height: auto;
  padding-bottom: 0px;
}







img .img-fluid{
  width: 100% \9;
}

#bg-image {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.form-group {
  margin: 0;
}

.list-inline{
  color: white;
  padding-top: 15px;
}
